body {

}

#game-container {
    margin: 100px auto;
    width: 450px;
}

#game-board {
    width: 450px;
    height: 450px;
}

#game-board > div {
    border: 3px solid white;
    background-color: black;
    color: #fff;
    font-size: 90px;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
}

#game-footer {
    height: 50px;
    background-color: rgb(255,255,255);
    font-size: 28px;
}

#score-board > p {
    text-align: center;
    display: inline-block;
    margin: 0px 8px;
}

.hide {
    display: none;
}