#game-container {
    margin: 50px auto;
    width: 450px;
}

#game-board {
    width: 450px;
    height: 450px;
}

#game-board > div {
    border: 3px solid white;
    background-color: black;
    color: #fff;
    font-size: 90px;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
}

#game-footer {
    height: 50px;
    background-color: rgb(255,255,255);
    font-size: 28px;
}

#score-board > p {
    text-align: center;
    display: inline-block;
    margin: 0px 8px;
}

.hide {
    display: none;
}

.sender-message {
    background-color: #eee;
    float: right;
}

.receiver-message {
    background-color: #4090db;
    color: #fff;
}

.message {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 35px;
    clear: both;
}